<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="mx.dees.gopiemex">

    <uses-sdk

        tools:overrideLibrary="com.paypal.android.sdk.payments" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_dees_round"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.MainActivity"
            android:configChanges="locale"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.ResponseActivity"
            android:configChanges="locale"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.ActivateActivity"
            android:configChanges="locale"
            android:screenOrientation="portrait" />
        <activity android:name=".activities.EndActivity"
            android:configChanges="locale"
            android:screenOrientation="portrait" />
    </application>

</manifest>